{% extends 'DawDietaBundle::layout.html.twig' %}
{% block title %}Lista de usuarios{% endblock %}
{% block body %}
    <header>Lista de usuarios</header>

    <table class="records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Correo</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>BMI</th>
                <th>Fecha Registro</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{% if entity.fechanac %}{{ entity.fechanac|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.correo }}</td>
                <td>{{ entity.altura }}</td>
                <td>{{ entity.peso }}</td>
                <td>{{ entity.bmi }}</td>
                <td>{% if entity.fecharegistro %}{{ entity.fecharegistro|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.estaactivo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
							{% if entity.estaactivo == 1 %}Inactivar{% else %}Activar{% endif %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usuario_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
